# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# Open WebUI
.webui_secret_key

# Environment variables
.env

# Logs
*.log

# OS files
Thumbs.db
.DS_Store